/* Fonts */

@font-face {
  font-family: "chillax";
  src: url(fonts/Chillax-Variable.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "montserrat";
  src: url(fonts/Montserrat-VariableFont_wght.ttf) format("truetype");
  font-display: swap;
}

/* Resetting default margin and padding */

* {
  padding: 0px;
  margin: 0px;
}
