body {
  background-color: var(--my-black);
}
html {
  scroll-behavior: smooth;
}
* {
  scrollbar-color: var(--my-beige) var(--my-black);
  scrollbar-width: thin;
}

:root {
  /* Colors */

  --my-white: #fffbf4;
  --my-black: #1a1712;
  --my-beige: #fff5de;
}
#subtitles {
  display: block;
  font-family: montserrat;
  font-size: 0.68rem;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--my-beige);
  opacity: 0.6;
}
