@import "tailwindcss";

@theme {
  --color-mybeige: #fff5de;
  --color-mywhite: #fffbf4;
  --color-myblack: #1a1712;

  @keyframes marquee-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  --animate-marquee-scroll: marquee-scroll 30s linear infinite;
}
@utility link-line {
  text-decoration: none;
  letter-spacing: 0.5px;
  display: inline-block;
  position: relative;
  transition: opacity 0.25s ease;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 0.5px;
    background: currentColor;
    transition: width 0.35s ease-out;
  }

  &:hover {
    opacity: 0.45;
  }

  &:hover::after {
    width: 100%;
  }
}

@utility subtitles {
  color: #fff5de;
  display: block;
  font-family: montserrat;
  font-size: 0.68rem;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  opacity: 0.6;
}
@utility detail-item {
  color: #fff5de;
  font-family: montserrat;
  background-color: rgba(20, 13, 13, 0.53);
  border: 1px solid rgb(44, 33, 53);
  font-size: 12px;
  width: fit-content;
  padding: 0 20px;
  height: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  border-radius: 32px;
  text-transform: lowercase;
}

body {
  background-color: #1a1712;
}
html {
  scroll-behavior: smooth;
}
* {
  scrollbar-color: #fff5de #1a1712;
  scrollbar-width: thin;
}
