/* slider */

.marqueeWrapper {
  overflow: hidden;
  width: 100%;
  background: #ffffff00;
  border-top: 0.5px solid rgba(187, 187, 187, 0.4);
  border-bottom: 0.5px solid rgba(190, 190, 190, 0.488);
  padding: 14px 0;
  user-select: none;
  margin-top: 40px;
}

.marqueeTrack {
  display: flex;
  width: max-content;
  animation: marqueeScroll 30s linear infinite;
}

.marqueeItem {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
  font-family: montserrat;
  font-size: 0.68rem;
  font-weight: 400;
  letter-spacing: 2.5px;
  color: var(--my-beige);
  white-space: nowrap;
  text-transform: uppercase;
}

.marqueeSep {
  color: var(--my-white);
  letter-spacing: 3px;
}

@keyframes marqueeScroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
